@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
   <strong>This is a Web Development Technology Assignment </strong>
</address>

<address>
    <strong>Support:</strong> <a href="s3613862@student.rmit.edu.au">Anushka Kalinga</a><br />
    <strong>Support:</strong> <a href="s3633257@student.rmit.edu.au">Nirav Desai</a>
</address>
