@{
    ViewData["Title"] = "Home Page";
}


    <div class="row">
        <div class="col-sm-offset-4 col-sm-4">
            <h1 align="center" >Welcome To Magic Inventory</h1>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <img src="~/images/magic.jpg" class="img-responsive" />
                <p>http://wheretheresawilltheresaway-spain.blogspot.com.au/2018/01/listening-about-magic.html</p>
            </div>
        </div>
    </div>
