@model IEnumerable<Magic_Inventory.Models.Store>


<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
            
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
               
                <a asp-controller="StoreInventories" asp-action="ShowStoreInventory" asp-route-id="@item.StoreID"> @Html.DisplayFor(modelItem => item.Name)</a>
            </td>
           
        </tr>
}
    </tbody>
</table>
