@*example taken from week 11 lab*@  

<script src="/js/angular.min.js"></script>

<div ng-app="myApp" ng-controller="orderHistoryCtrl">
    <h2>Order History</h2>
    <table class="table table-striped">
        <thead>
            <tr>               
                <th>Product Name</th>
                <th>Store Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>Order Date</th>
                <th>orderNumber</th>
            </tr>
        <thead>
        <tbody>
            <tr ng-repeat="x in orderHistory">               
                <td>{{ x.product.name }}</td>
                <td>{{ x.store.name }}</td>
                <td>{{ x.quantity }}</td>
                <td>{{ x.price | currency }}</td>
                <td>{{ x.orderDate }}</td>
                <td>{{ x.orderNumber}}</td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    var app = angular.module("myApp", []);
    app.controller("orderHistoryCtrl", function($scope, $http) {
        $http.get("http://localhost:60186//api/Orderhistories/@ViewBag.UserName").then(function (response) { $scope.orderHistory = response.data; });
    });
</script>