<script src="/js/angular.min.js"></script>

<div ng-app="myApp" ng-controller="orderHistoryCtrl">
    <h2>Movies</h2>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>OrderID</th>
                <th>ProductID</th>
                <th></th>
                <th>Genre</th>
                <th>Price</th>
                <th>Rating</th>
            </tr>
        <thead>
        <tbody>
            <tr ng-repeat="x in movies">
                <td>{{ x.id }}</td>
                <td>{{ x.title }}</td>
                <td>{{ x.releaseDate | date:"dd/MM/yyyy" }}</td>
                <td>{{ x.genre }}</td>
                <td>{{ x.price | currency }}</td>
                <td>{{ x.rating }}</td>
            </tr>
        </tbody>
    </table>
</div>

<script>
    var app = angular.module("myApp", []);
    app.controller("orderHistory", function($scope, $http) {
        $http.get("http://localhost:60186//api/Orderhistories").then(function (response) { $scope.orderHistory = response.data; });
    });
</script>