@model Magic_Inventory.Models.Cart

@{
    ViewData["Title"] = "Credit Card Verification";
}


<head>
    <style>
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>
    @*<script>
        var input = document.getElementById('cardNumber');
        input.oninvalid = function(event) { event.target.setCustomValidity('Username should only contain lowercase letters. e.g. john');
        }
    </script>*@
</head>
<div>
    <h3>Credit Card Verification</h3>
    <hr />
   
</div>
<div>
    <form asp-action="VerifyCreditCardNow" method="post">
        <input type="text" name="cardNumber" pattern="[0-9]{16}" title="Not a valid Credit Card Number">
        @*<input type="number" pattern="[0-9]{16,16}" title="Not a valid credit card number" id='cardNumber' name="cardNumber" size="18" value="" />*@
        <input type="submit" value="Verify" />
    </form>
</div>
