@model Magic_Inventory.Models.Cart

@{
    ViewData["Title"] = "Credit Card Verification";
}


<head>
    <style>
        input[type=number]::-webkit-inner-spin-button,
        input[type=number]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    </style>   
</head>
<div>
    <h3>Credit Card Verification</h3>
    <hr />
   
</div>
<div>
    <h3>Please enter card number</h3>
    
    @if (ViewBag.ErrorCard == false)
    {
        <div class="alert alert-danger">
            <strong>Credit Card Details Wrong!</strong> 
        </div>
    }
    <form asp-action="VerifyCreditCardNow" method="post">
        <input type="text" name="cardNumber" pattern="[0-9]{16}" title="Not a valid Credit Card Number" required>       
        <input type="submit" value="Verify" class="btn btn-primary" />
    </form>
</div>
